@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --primary: #5ca1ca;
  --secondary: #3b789a;
  --background: #000613;
  --surface: #0a1224;
}

* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--background);
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

[data-lucide] {
  vertical-align: top;
  height: 1.25rem;

}


p {
  color: white;
  margin: 0;
}

a,
.btn {
  transition: all 300ms ease;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  border: 1px solid var(--primary);
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  min-width: -webkit-fill-available; /* Samsung Internet 5.0+ */
  min-width: -moz-available;
  min-width: fit-content;
}

.btn:hover {
  background-color: var(--primary);
  color: white;
}

.btn-active {
  background-color: var(--primary);
  color: white;
}

.btn-active:hover {
  background-color: var(--background);
  color: var(--primary);
}

.btn i {
  padding-left: 0.25rem;
  font-size: 1rem;
  height: 100%;
}

.btn.primary {
  background-color: var(--primary);
  color: #fff;
}

.btn.primary:hover {
  background-color: var(--secondary);
}

.btn.secondary {
  background-color: #1a1f33;
  color: #fff;
}

.btn.secondary:hover {
  background-color: var(--secondary);
}

/* Navigation */
#navigation,
.nav-menu,
.hamburger-menu {
  display: flex;
  flex-wrap: wrap;
}

#navigation {
  position: fixed;
  background-color: #0006134b;
  top: 0.5vh;
  padding:  0.75rem 1.5rem;
  z-index: 15;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  width: 75dvw;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);  
  margin: 2.5vh 5vh;
  overflow: hidden;
  z-index: 20;
  transition: top 300ms ease;
}

#navigation.active{
  border-radius: 1em;
  /* background-color:#171a2a6d; */
  
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  font-size: 1.25rem;
  bottom: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}  

.nav-menu.active{
  display: flex;
  }



.nav-link{
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);  
}

.nav-link::after{
  content: "";
  height: 0.1em;
  width: 75%;
  border-radius: 1em;
  background-color: var(--primary);
  position: absolute;
  bottom: -0.65rem;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  align-self: center;
  transition: transform 200ms ease;
  transform-origin: center;
}

.nav-link:hover,
.nav-link:focus-visible,
.nav-link.active {
  color: var(--primary);
}

.nav-link:hover::after,
.nav-link:focus-visible::after,
.nav-link.active::after {
  transform: translateX(-50%) scaleX(1);
}

.nav-link:active {
  outline: none;
  background: none;   /* or whatever your default is */
  color: inherit;     /* reset to normal text color */
}

.nav-link.btn:hover {
  color: white;
}

/* HAMBURGER */
.hamburger-menu {
  position: relative;
  margin-top: 0;
  width: 7vw;
  max-width: 30px;
  height: 3vh;
  max-height: 25px;
  cursor: pointer;
}

.hamburger-menu span{
  position: absolute;
  height: 15%;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  transition: all 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
}

.hamburger-menu span:nth-child(1){
  top:0;
}

.hamburger-menu span:nth-child(2){
  top:42%;
  background-color: transparent;
  transform: rotate(90deg);
}

.hamburger-menu span:nth-child(3){
  top:42%;
  background-color: transparent;
}

.hamburger-menu span:nth-child(4){
  top:42%;
}

.hamburger-menu span:nth-child(5){
  bottom:0; 
}


.hamburger-menu.active span:nth-child(1){
  top:40%;
  background-color: transparent;
}
.hamburger-menu.active span:nth-child(2){
  background-color: white;
  width: 100%;
  transform: rotate(45deg);
}
.hamburger-menu.active span:nth-child(3){
  background-color: white;
  width: 100%;
  transform: rotate(-45deg);
}
.hamburger-menu.active span:nth-child(4){
  background-color: transparent;
}
.hamburger-menu.active span:nth-child(5){
  bottom:40%;
  background-color: transparent;
}

.logo img {
  display: block;
  padding: 0.5rem;
  width: auto;
  height: 4vh;
  max-height: 50px;
  
}

/* Section Styles */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5dvh;
  padding: 10vh 1dvw;
}
#about,
#project,
#skills,
#contact {
  min-height: 95dvh;
}

section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80dvh;
  scroll-margin-top: 80px;
  
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 5dvw;
  width: auto;
}

.home-content h1 {
  color: white;
  font-size: 2em;
  margin: 0.5rem 0 1rem 0;
  text-align: center;

  span:nth-child(1){
    color: var(--secondary);
  }

  span:nth-child(2){
    color:#a5def1;
  }
}

.home-content p {
  color: #b9bfc3;
  font-size: 1em;
  text-align: center;
}

.home-content p:nth-child(5) {
  font-size: 0.75rem;
}

.home-buttons {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: fit-content;
  text-align: center;
  margin: 1rem 0;

  i{
    vertical-align: middle;
  }

  a{
    width: 100%;
  }
}


.connect-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  min-height: 20px;
  text-align: center;
}

.connect-buttons i {
  color: var(--primary);
  font-size: 1.25rem;
  text-decoration: none;
  width: auto;
  aspect-ratio: 1 / 1;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 7; */
  max-width: 400px;
  position: relative;
  overflow: visible;
}

/* Portrait */
.portrait {
  display: flex;
  justify-content: center;
  width: 80%;
  z-index: 5;

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 0%,
    transparent 100%
  );

  mask-image: linear-gradient(to bottom, black 0%, black 75%, transparent 100%);
}

/* Blue Ring */
.circle {
  position: absolute;
  width: 75%;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 3px solid rgba(92, 161, 202, 0.65);
  border-radius: 50%;
  margin-bottom: 5%;
  overflow: visible;

  /* box-shadow:
        0 0 15px rgba(0,136,255,.2),
        inset 0 0 20px rgba(0,136,255,.2); */

  clip-path: inset(0 0 20% 0);
}

/* Gradient border using masking */
.circle::before {
  content: "";
  margin: -0.9%;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    from 200deg,
    rgba(92, 161, 202, 0.65) 0deg 60deg,
    rgba(52, 52, 52, 0.5) 120deg 90deg
  );
  
  

  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(95% - 5%),
    black calc(100% - 1%)
  );

  mask: radial-gradient(
    farthest-side,
    transparent calc(95% - 5%),
    black calc(100% - 1%)
  );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

/* Glow behind portrait */
.hero-content::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle,
    rgba(59, 120, 154, 1) 0%,
    transparent 50%
  );

  clip-path: inset(0 0 40% 0);
  top: 0.7%;
}

/* Dotted decoration */
.dots {
  position: absolute;
  right: 1%;
  top: 5%;
  width: 30%;
  height: 30%;

  background-image: radial-gradient(
    rgba(73, 145, 255, 0.7) 1.3px,
    transparent 1.3px
  );

  background-size: 12px 12px;
  opacity: 0.6;
}

.dots:nth-of-type(2) {
  left: 0;
  top: 70%;
  z-index: 6;
  opacity: 0.3;
}

#about {
  text-align: center;
}

/* Projects Section */
#projects {
  flex-direction: column;
}

.subtitle {
  color: #b0b0b0;
  margin-bottom: 2rem;
}

#project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: start;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0a1224;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(122, 166, 255, 0.6);
  min-width: 60vw;
  padding: 1.5rem;
  margin: 0 2rem;
  text-align: left;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(122, 166, 255, 0.8);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.tech {
  color: #b0b0b0;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.tech span {
  color: #7aa6ff;
}

.desc {
  color: #cfcfcf;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 80%;
  bottom: 0;
  margin-top: auto;
}

#projects .fab.fa-github {
  padding-right: 0.25rem;
  padding-left: 0;
}

/* #skills {
}

#contact {
} */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  background-color: #758ca7;
  padding: 2rem;
  border-radius: 10px;
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: #cbd2da;
  color: rgb(21, 8, 117);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 10vh;
  margin: 0;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

footer img {
  height: 5vh;
}


.theme-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 140px;
  height: 40px;
  display: inline-block;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ddd;
  border-radius: 40px;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 1rem;
}

.slider.dark{
  justify-content: left;
}

.mode-text {
  justify-content: end;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease;
}

.slider:before {
  content: "☀️"; /* default icon inside knob */
  position: absolute;
  height: 32px;
  width: 32px;
  left: 0;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: transform 0.4s, content 0.4s;
}

input:checked + .slider {
  background-color: #4a90e2;
}

input:checked + .slider:before {
  transform: translateX(100px);
  content: "🌙"; /* moon icon when dark mode */
}

input:checked + .slider .mode-text {
  color: #fff;
}
